ex1/.gradle/
ex1/.idea/
ex1/gradle/wrapper/gradle-wrapper.jar
ex1/gradle/wrapper/gradle-wrapper.properties
ex1/gradlew
ex1/gradlew.bat
ex1/settings.gradle
ex1/build/
ex1/out/
shop/.gradle/
shop/.idea/
shop/build/
shop/settings.gradle
shop/gradle/wrapper/gradle-wrapper.jar
shop/gradle/wrapper/gradle-wrapper.properties
shop/gradlew
shop/gradlew.bat
ex3/.gradle/
ex3/build/
ex3/.idea/
ex3/gradlew
ex3/gradlew.bat
ex3/settings.gradle
ex3/gradle/wrapper/gradle-wrapper.jar
ex3/gradle/wrapper/gradle-wrapper.properties
ex2/.idea/.name
start/.gradle/
start/.idea/
start/build/
start/gradle/
start/out/
mapping/build/
start/gradlew
start/gradlew.bat
start/settings.gradle
mapping/.idea/
mapping/.gradle/
mapping/gradle/
mapping/gradlew
mapping/gradlew.bat
mapping/settings.gradle
type/build/
type/.gradle/
type/gradlew
type/gradlew.bat
type/settings.gradle
type/.idea/
type/gradle/wrapper/gradle-wrapper.jar
type/gradle/wrapper/gradle-wrapper.properties
jpql/.gradle/
jpql/.idea/.gitignore
jpql/.idea/
jpql/build/
jpql/gradle/wrapper/gradle-wrapper.jar
jpql/gradle/wrapper/gradle-wrapper.properties
jpql/gradlew
jpql/gradlew.bat
jpql/settings.gradle
